/* CALL TO ACTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.calltoaction{

	padding: 5rem 0;

	font-family: $font__font-family;
	font-style: italic;

	h4{
		margin: 3rem auto; 
	}

	a{	
		display: table;
		
		margin: 2rem auto;
	}

}





